<!DOCTYPE html>
<html lang="de">

<head>
    <title>Fehler bei der Kontaktaufnahme.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Software Entwickler für digitale Lösungen im Cloud-Umfeld.">
    <meta name="keywords"
        content="Schmittformatik, Mobile Medien, Cloud, Azure, Waiblingen, Esslingen, Hochschule der Medien">

    <meta property="og:title" content="Marcel Schmitt - Software Entwickler für digitale Lösungen im Cloud-Umfeld.">
    <meta property="og:description" content="Software Entwickler für digitale Lösungen im Cloud-Umfeld.">
    <meta property="og:image" content="assets/serenity.jpg">
    <meta property="og:url" content="http://schmittformatik.de">

    <link rel="icon" type="assets/jpeg" href="../assets/serenity.jpg">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="../js/functions.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.php">Schmittformatik</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.php#wer-bin-ich">Wer bin ich?</a></li>
                    <li><a href="../index.php#was-mache-ich">Was mache ich?</a></li>
                    <li><a href="../index.php#kontakt">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-3 text-center new-height" id="kontakt">
        <h1>Fehler bei der Kontaktaufnahme!</h1>
        <div class="contact-text-answer">
            <p>
                Bitte füllen Sie alle Felder aus, bevor sie das Kontaktformular abschicken! <br />
                Bitte geben Sie nur eine E-Mail Adresse an.</p>
            </p>

        </div>
    </div>

    <footer class="container-fluid bg-4 text-center">
        <p>
            Die Seite wurde mit Hilfe des Bootstrap Theme der <a href="https://www.w3schools.com"
                target="_blank">www.w3schools.com</a> erstellt.
            <br />
            Diese Webseite verwendet keine Cookies.
            <br />
            2019
            <br />
            <br />
            <a href="http://www.manageschmittment.de" target="_blank">manageschmittment.de</a>
            <br />
            <a href="http://www.schmittformatik.de" target="_blank">schmittformatik.de</a>
            <br />
        </p>
    </footer>
</body>

</html>