<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
  <title>Willkommen auf schmittformatik.de</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Software Entwickler für digitale Lösungen im Cloud-Umfeld.">
  <meta name="keywords"
    content="Schmittformatik, Mobile Medien, Cloud, Azure, Waiblingen, Esslingen, Hochschule der Medien">

  <meta property="og:title" content="Marcel Schmitt - Software Entwickler für digitale Lösungen im Cloud-Umfeld.">
  <meta property="og:description" content="Software Entwickler für digitale Lösungen im Cloud-Umfeld.">
  <meta property="og:image" content="../assets/serenity.jpg">
  <meta property="og:url" content="http://schmittformatik.de">

  <link rel="icon" type="assets/jpeg" href="../assets/serenity.jpg">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="../js/functions.js"></script>
</head>

<body>


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.php">Schmittformatik</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#wer-bin-ich">Wer bin ich?</a></li>
          <li><a href="#was-mache-ich">Was mache ich?</a></li>
          <li><a href="#kontakt">Kontakt</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid bg-1 text-center" id="wer-bin-ich">
    <h3 class="margin">Wer bin ich?</h3>
    <img src="../assets/profile_picture.jpg" class="img-responsive img-circle margin" style="display:inline"
      alt="Profile picture of Marcel Schmitt" width="350" height="350">
    <h3>Marcel Schmitt</h3>
    <h3>Software Entwickler</h3>

  </div>

  <div class="container-fluid bg-2 text-center" id="was-mache-ich">
    <h3 class="margin">Was mache ich?</h3>
    <div class="cv-text">
      <p>Mein Name ist Marcel Schmitt und ich bin Software Entwickler.
        <br /> <br />
        Ich habe <a href="https://www.hdm-stuttgart.de/mm" target="_blank">Mobile Medien</a> an der <a
          href="https://www.hdm-stuttgart.de/" target="_blank">Hochschule der Medien</a> in Stuttgart studiert und dort
        meinen Bachelor of Science erlangt.
        <br /> <br />
        Nach meinem Studium startete ich bei der <a href="https://www.fleetboard.de" target="_blank">Daimler
          Fleetboard</a> in mein Berufsleben als Softwareentwickler im Bereich der Konnektivität und den digtialen
        Diensten rund um den LKW.
        Eines der wichtigsten Projekte dort war die Mitentwicklung an <a
          href="https://www.mercedes-benz-trucks.com/de_DE/buy/mercedes-benz-roadefficiency/uptime.html"
          target="_blank">Mercedes-Benz Uptime</a>.
        <br /> <br />
        Derzeit bin ich bei der <a href="https://www.festo.com/cms/de_de/index.htm" target="_blank">Festo AG & Co.
          KG</a> als Software-Entwickler im Bereich <a href="https://www.festo.com/cms/de_de/56644.htm"
          target="_blank">IIot und Cloud</a> angestellt. Ziel ist es die Konnektivität von Festo Produkten herzustellen
        und dem Kunden Mehrwerte durch digitale Dienste zu generieren.
        <br /> <br />
        Wollen Sie mehr erfahren? Dann wagen Sie doch einen Blick in meinen <a href="assets/cv_marcel_schmitt.pdf"
          target="_blank">Lebenslauf</a>. Für mehr Informationen oder Fragen, stehe ich Ihnen gerne zur Verfügung.

      </p>
    </div>

  </div>

  <div class="container-fluid bg-3 text-center" id="kontakt">
    <h3 class="margin">Kontakt</h3><br />
    <div class="contact-text">
      <p>Haben Sie Interesse an einer Zusammenarbeit oder möchten Sie mehr über mich erfahren? <br />
        Dann besuchen Sie mich doch auf einer der folgenden Profile, schauen bei meinem GitHub bzw. Azure DevOps Account vorbei <br />
        oder schreiben mir einfach eine E-Mail über das Kontaktformular oder direkt an meine <a href="mailto:marcel.schmitt@schmittformatik.de">Adresse</a>. <br />
        Ich freue mich darauf!
      </p>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="contact-form">
          <form method="post" name="contact_form" action="views/send_mail.php">
            <table class="contact-form-table">
              <tr>
                <td class="contact-form-table-left">Name:</td>
                <td class="contact-form-table-right"><input type="text" name="name" class="contact-input" placeholder="Ihr Name."></td>
              </tr>
              <tr>
                <td class="contact-form-table-left">Email:</td>
                <td class="contact-form-table-right"><input type="text" name="email" class="contact-input" placeholder="Ihre E-Mail Adresse."></td>
              </tr>
              <tr>
                <td class="contact-form-table-left">Nachricht:</td>
                <td class="contact-form-table-right"><textarea name="message" class="contact-textarea" placeholder="Ihre Nachricht."></textarea></td>
              </tr>
              <tr>
                <td></td>
                <td class="contact-form-table-right"><input type="submit" value="Absenden" class="contact-submit"></td>
              </tr>
            </table>
          </form>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="contact-links">
          <p>Besuchen Sie mich auf <a href="https://www.xing.com/profile/Marcel_Schmitt29" target="_blank">Xing</a>.</p>
          <br />
          <p>Besuchen Sie mich auf <a href="https://www.linkedin.com/in/marcel-schmitt-bb763a165/"
              target="_blank">LinkedIn</a>.</p>
          <br />
          <p>
            Schauen Sie bei meinem <a href="https://dev.azure.com/mrmyiagi/msa" target="_blank">Azure Devops Projekt</a>
            vorbei. <br />
            (Einladung erforderlich.)
          </p>
          <br />
          <p>
            Schauen Sie bei meinem <a href="https://github.com/MarcelMYSchmitt" target="_blank">GitHub
              Projekt</a> vorbei. <br />
            (Keine Einladung erforderlich.)
          </p>
        </div>
      </div>
    </div>
  </div>

  <button onclick="topFunction()" id="bottom-up" title="Nach oben scrollen.">
    <img src="../assets/arrow_up.png" />
  </button>

  <footer class="container-fluid bg-4 text-center">
    <p>
      Die Seite wurde mit Hilfe des Bootstrap Theme der <a href="https://www.w3schools.com"
        target="_blank">www.w3schools.com</a> erstellt.
      <br />
      Diese Webseite verwendet keine Cookies.
      <br />
      2019
      <br />
      <br />
      <a href="http://www.manageschmittment.de" target="_blank">manageschmittment.de</a>
      <br/>
      <a href="http://www.schmittformatik.de" target="_blank">schmittformatik.de</a>
      <br />
      <a href="http://www.schmittatze.de" target="_blank">schmittatze.de</a>
    </p>
  </footer>

</body>

</html>