<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<title>Willkommen auf schmittformatik.de</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="assets/jpeg" href="../assets/alpaka.jpg">

<meta name="description" content="Software Architekt für digitale Lösungen im Cloud-Umfeld.">
<meta name="keywords"
  content="Schmittformatik, Mobile Medien, Cloud, Azure, Waiblingen, Esslingen, Hochschule der Medien">

<meta property="og:site_name" content="Schmittformatik.de">
<meta property="og:title" content="Marcel Schmitt - Software Architekt für digitale Lösungen im Cloud-Umfeld.">
<meta property="og:description" content="Software Architekt für digitale Lösungen im Cloud-Umfeld.">
<meta property="og:image" content="http://schmittformatik.de/assets/alpaka_preview.jpg" />
<meta property="og:image:secure_url" content="https://schmittformatik.de/assets/alpaka_preview.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:url" content="http://schmittformatik.de">
<meta property="og:type" content="software" />
<meta property="og:locale" content="de_DE" />

<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif
  }

  .w3-row-padding img {
    margin-bottom: 12px
  }

  /* Set the width of the sidebar to 120px */
  .w3-sidebar {
    width: 120px;
    background: #222;
  }

  /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
  #main {
    margin-left: 120px
  }

  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {
    #main {
      margin-left: 0
    }
  }
</style>

<body class="w3-black">

  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-home w3-xxlarge"></i>
      <p>HOME</p>
    </a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>ÜBER MICH</p>
    </a>
    <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-eye w3-xxlarge"></i>
      <p>INFO</p>
    </a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-envelope w3-xxlarge"></i>
      <p>KONTAKT</p>
    </a>
  </nav>

  <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
      <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
      <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ÜBER MICH</a>
      <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">INFO</a>
      <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">KONTAKT</a>
    </div>
  </div>

  <div class="w3-padding-large" id="main">
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
      <h1 class="w3-jumbo"> Marcel Schmitt</h1>
      <p>Software Architekt</p>
      <img src="../assets/alpaka.jpg" class="w3-image" style="padding-top: 50px" width="700px" height="800px">
    </header>

    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-grey">ÜBER MICH</h2>
      <hr style="width:200px" class="w3-opacity">
      <p>Mein Name ist Marcel Schmitt und ich bin Software Architekt.
        Ich habe <a href="https://www.hdm-stuttgart.de/mm" target="_blank">Mobile Medien</a> an der <a
          href="https://www.hdm-stuttgart.de/" target="_blank">Hochschule der Medien</a> in Stuttgart studiert und dort
        meinen Bachelor of Science erlangt.
        Nach meinem Studium startete ich bei der <a href="https://www.fleetboard.de" target="_blank">Daimler
          Fleetboard</a> in mein Berufsleben als Softwareentwickler im Bereich der Konnektivität und den digtialen
        Diensten rund um den LKW.
        Eines der wichtigsten Projekte dort war die Mitentwicklung an <a
          href="https://www.mercedes-benz-trucks.com/de_DE/buy/mercedes-benz-roadefficiency/uptime.html"
          target="_blank">Mercedes-Benz Uptime</a>.
        Danach ging es zu der <a href="https://www.festo.com/cms/de_de/index.htm" target="_blank">Festo AG & Co.
          KG</a> , wo ich als Software-Entwickler im Bereich der Digitalisierung (Digital Business) - <a
          href="https://www.festo.com/cms/de_de/56644.htm" target="_blank">IIot und Cloud</a> - angestellt war. Die
        Konnektivität von Festo Produkten sollte hergestellt und Kunden Mehrwerte durch digitale Dienste zur Verfügung
        gestellt werden.
        Nach nun mehreren Jahren als Software Entwickler / Fullstack Entwickler / DevOps Engineer in Zusammenhang der
        Konnektivität von Software und Hardware bin ich heute als Software Architekt
        bei der <a href="https://www.daimler.com/konzern/geschaeftsfelder/daimler-trucks/" target="_blank">Daimler Truck
          AG</a> im Bereich IT Sales tätig.
        Bestehenden als auch neuen Kunden sollen durch ein neuartiges Kundenportal ein zentraler Einstieg in die Welt
        von Daimler Trucks angeboten werden, in dem die gesamte Kundenreise (Customer Journey) abgebildet sein wird.
        Das Portal soll die Anlaufstelle für alle Sales Tätigkeiten im Truck Bereich sein und die bisher verzweigten
        Portale bündeln.
      </p>
      <h3 class="w3-padding-16 w3-text-light-grey">Fähigkeiten</h3>
      <p class="w3-wide">Backendentwicklung mit C# (.NET Core) und Java (Spring Boot)</p>
      <div class="w3-white">
        <div style="background-color: #5DADE2; height:28px;width:85%"></div>
      </div>
      <p class="w3-wide">Frontendentwicklung (Angular)</p>
      <div class="w3-white">
        <div style="background-color: #5DADE2; height:28px;width:60%"></div>
      </div>
      <p class="w3-wide">IaaS (Terraform, Azure Cli, ARM Templates)</p>
      <div class="w3-white">
        <div style="background-color: #5DADE2; height:28px;width:95%"></div>
      </div><br>
      <p class="w3-wide">Cloud (Azure, AWS, CloudFoundry)</p>
      <div class="w3-white">
        <div style="background-color: #5DADE2; height:28px;width:90%"></div>
      </div><br>
      <p class="w3-wide">Containertechnologien (Docker, Kubernetes, Istio)</p>
      <div class="w3-white">
        <div style="background-color: #5DADE2; height:28px;width:95%"></div>
      </div><br>
      <p class="w3-wide">Monitoring (Prometheus, Grafana, sonstige Alerting Tools)</p>
      <div class="w3-white">
        <div style="background-color: #5DADE2; height:28px;width:95%"></div>
      </div><br>
      <p class="w3-wide">Scripting (Exporter, Shell, Infrastruktur)</p>
      <div class="w3-white">
        <div style="background-color: #5DADE2; height:28px;width:95%"></div>
      </div><br>
      <p class="w3-wide">DevOps (Security, Best Practices, MindSet)</p>
      <div class="w3-white">
        <div style="background-color: #5DADE2; height:28px;width:100%"></div>
      </div><br>
      <p class="w3-wide">CI/CD (Artifactory, Jenkins, Azure DevOps, GitOps)</p>
      <div class="w3-white">
        <div style="background-color: #5DADE2; height:28px;width:90%"></div>
      </div><br>
      <p class="w3-wide">Kaffeejunkie</p>
      <div class="w3-white">
        <div style="background-color: #5DADE2; height:28px;width:100%"></div>
      </div><br>
      <button class="w3-button w3-light-grey w3-padding-large w3-section">
        <a href="../assets/cv_marcel_schmitt.pdf" style="text-decoration: none" target="_blank"><i
            class="fa fa-download"></i> Lebenslauf</a>
      </button>
    </div>

    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="photos">
      <h2 class="w3-text-light-grey">INFO</h2>
      <hr style="width:200px" class="w3-opacity">
      <p>Hier sehen Sie nur einen kleinen Überblick. Wollen Sie mehr über mich oder meine Arbeit erfahren? Nehmen Sie
        doch Kontakt zu mir auf...entweder per Mail, per Kontaktformular oder Sie besuchen mich auf einer der unten
        aufgelisteten Profile.
      <p>
        Sie können auch einen Einblick bekommen, indem Sie bei meinem <a href="https://github.com/MarcelMYSchmitt"
          target="_blank">GitHub Profil</a> vorbei schauen.
      </p>
    </div>

    <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
      <h2 class="w3-text-light-grey">KONTAKT</h2>
      <hr style="width:200px" class="w3-opacity">

      <div class="w3-section">
        <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>Waiblingen, BW</p>
        <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i>ms@schmittformatik.de</p>
      </div><br>
      <p>Lust auf eine Zusammenarbeit? Dann schreiben Sie mir gerne per E-Mail oder dem folgenden Kontaktformular:</p>

      <form action="views/send_mail.php" method="POST" name="contact_form">
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="name"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="email"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Nachricht" required name="message"></p>
        <p>
          <button class="w3-button w3-light-grey w3-padding-large" type="submit">
            <i class="fa fa-paper-plane"></i> Nachricht senden
          </button>
        </p>
      </form>
    </div>

    <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
      <a href="https://www.xing.com/profile/Marcel_Schmitt29" target="_blank"><i
          class="fa fa-xing w3-hover-opacity"></i></a>
      <a href="https://www.linkedin.com/in/marcel-schmitt-bb763a165/" target="_blank"><i
          class="fa fa-linkedin w3-hover-opacity"></i></a>

      <p class="w3-medium">
        Die Seite wurde mit Hilfe des Bootstrap Theme der <a href="https://www.w3schools.com"
          target="_blank">www.w3schools.com</a> erstellt.
        <br />
        Diese Webseite verwendet keine Cookies.
        <br />
        2020
        <br />
        <br />
        <a href="http://www.manageschmittment.de" target="_blank">manageschmittment.de</a>
        <br />
        <a href="http://www.schmittformatik.de" target="_blank">schmittformatik.de</a>
        <br />
        <a href="http://www.schmittatze.de" target="_blank">schmittatze.de</a>
      </p>
    </footer>

  </div>

</body>

</html>