<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Willkommen auf www.schmittformatik.de!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Software Architect für digitale Lösungen im Cloud-Umfeld.">
	<meta name="keywords"
		content="Schmittformatik, Mobile Medien, Cloud, Azure, Waiblingen, Esslingen, Hochschule der Medien">
	<meta name="author" content="freehtml5.co" />

	<meta property="og:title" content="Marcel Schmitt - Software Architect für digitale Lösungen im Cloud-Umfeld.">
	<meta property="og:image" itemprop="image" content="http://schmittformatik.de/images/alpaka_preview.jpg" />
	<meta property="og:image:secure_url" itemprop="image" content="https://schmittformatik.de/images/alpaka_preview.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="260" />
	<meta property="og:image:height" content="195" />
	<meta property="og:type" content="software" />
	<meta property="og:locale" content="de_DE" />
	<meta property="og:url" content="http://schmittformatik.de">
	<meta property="og:site_name" content="Schmittformatik.de">
	<meta property="og:description" content="Software Architekt für digitale Lösungen im Cloud-Umfeld.">

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="../css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../css/style.css">

	<!-- Modernizr JS -->
	<script src="../js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner"
			style="background-image:url(../images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t js-fullheight">
							<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
								<div class="profile-thumb" style="background: url(../images/alpaka.jpg);"></div>
								<h2><span>Marcel Schmitt</span></h2>
								<h3><span>Fullstack Developer / Software Architect</span></h3>
								<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://github.com/MarcelMYSchmitt" target="_blank"><i
												class="icon-github2"></i></a></li>
									<li><a href="https://www.linkedin.com/in/marcel-schmitt-bb763a165"
											target="_blank"><i class="icon-linkedin2"></i></a></li>
									<li><a href="https://www.xing.com/profile/Marcel_Schmitt29" target="_blank"><i
												class="icon-xing2"></i></a></li>
								</ul>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="fh5co-about" class="animate-box">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Mein Name ist Marcel Schmitt und ich bin Software Architect.</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p style="text-align: center;">
							Ich habe <a href="https://www.hdm-stuttgart.de/mm" target="_blank">Mobile Medien</a> an der
							<a href="https://www.hdm-stuttgart.de/" target="_blank">Hochschule der Medien</a> in
							Stuttgart studiert und dort
							meinen Bachelor of Science erlangt.
							Nach meinem Studium startete ich bei der <a href="https://www.fleetboard.de"
								target="_blank">Daimler
								Fleetboard</a> in mein Berufsleben als Softwareentwickler im Bereich der Konnektivität
							und den digtialen
							Diensten rund um den LKW.
							Eines der wichtigsten Projekte dort war die Mitentwicklung an <a
								href="https://www.mercedes-benz-trucks.com/de_DE/buy/mercedes-benz-roadefficiency/uptime.html"
								target="_blank">Mercedes-Benz Uptime</a>.
							Danach ging es zu der <a href="https://www.festo.com/cms/de_de/index.htm"
								target="_blank">Festo AG & Co.
								KG</a> , wo ich als Software-Entwickler im Bereich der Digitalisierung (Digital
							Business) - <a href="https://www.festo.com/cms/de_de/56644.htm" target="_blank">IIot und
								Cloud</a> - angestellt war. Die
							Konnektivität von Festo Produkten sollte hergestellt und Kunden Mehrwerte durch digitale
							Dienste zur Verfügung
							gestellt werden.
							Nach nun mehreren Jahren als Software Entwickler / Fullstack Entwickler / DevOps Engineer in
							Zusammenhang der
							Konnektivität von Software und Hardware bin ich heute als Software Architect
							bei der <a href="https://www.daimler.com/konzern/geschaeftsfelder/daimler-trucks/"
								target="_blank">Daimler Truck
								AG</a> im Bereich IT Sales tätig.
							Bestehenden als auch neuen Kunden sollen durch ein neuartiges Kundenportal ein zentraler
							Einstieg in die Welt
							von Daimler Trucks angeboten werden, in dem die gesamte Kundenreise (Customer Journey)
							abgebildet sein wird.
							Das Portal soll die Anlaufstelle für alle Sales Tätigkeiten im Truck Bereich sein und die
							bisher verzweigten
							Portale bündeln.
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-resume" class="fh5co-bg-color">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Meine Stationen</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-md-offset-0">
						<ul class="timeline">
							<li class="timeline-heading text-center animate-box">
								<div>
									<h3>Arbeitserfahrung</h3>
								</div>
							</li>
							<li class="animate-box timeline-unverted">
								<div class="timeline-badge"><i class="icon-suitcase"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Software Architect</h3>
										<span class="company">Daimler Truck AG - 03/2020 - Heute</span>
									</div>
									<div class="timeline-body">
										<p>Entwicklung eines neuen Kundenportals, welches bereits bestehende
											Kundenportale abstrahieren bzw. bündeln soll. Die zentrale
											Reise eines Daimler Trucks Kunden soll vom Erwerb des Trucks bis hin zu der
											Buchung von zusätzlichen Konnektivitätsdiensten,
											dem Kauf von Ersatzteilen, der Buchung/Finanzierung von weiteren Trucks als
											auch die allgemeine Überwachung und
											Instandhaltung transparent zur Verfügung gestellt werden. Dafür gilt es in
											Zusammenarbeit mit anderen Abteilungen, Systemen
											und Dienstleistern Absprachen zu halten, Architekturen und Schnittstellen
											sowohl zu identifizieren als auch zu spezifizieren und
											für neue Implementierungen oder dem Einsatz neuer Technologien kleinere und
											größere „Proof of Concepts“ durchzuführen. Ziel
											ist es dem Kunden ein neuartiges Erlebnis zur Verfügung zu stellen und den
											Einstieg in die digitale Daimler Truck Welt so einfach
											wie möglich zu geben.
										</p>
										<br />
										<p>
											<b>
												Kubernetes, Istio, Java (Spring Boot), Jenkins, Docker,
												Grafana, Prometheus, Angular, Matomo, Jira Service Desk,
												Apache Kafka, Confluence, Jira, GitHub, ArgoCD, Helm, ELK, Software
												Architecture
											</b>
										</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge"><i class="icon-suitcase"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Cloud/IIoT Developer / DevOps Engineer</h3>
										<span class="company">Festo AG & Co. KG - 09/2018 - 02/2020</span>
									</div>
									<div class="timeline-body">
										<p>
											Entwicklung neuer digitaler Dienste für Festo, um Kunden Mehrwerte bei der
											Verwendung von Festo Produkten zu bieten, unter
											anderem durch die Erstellung einer Anwendung für die Siemens MindSphere
											(Condition Monitoring Dashboards für CPX und
											E2M Geräte). Verbindung von Festo Feldgeräten über ein eigenes IoT Gateway,
											um deren Daten auszulesen, aufzuarbeiten und
											dem Kunden anzeigen zu können. CI/CD erfolgt über die Verwendung von
											TeamCity und Artifactory, als Plattform wird
											CloudFoundry verwendet, welches von Siemens bereitgestellt wird.
											Aufbau einer Plattform, um dort digitale Dienste an Kunden zur Verfügung
											stellen zu können mit Hilfe des Azure Kubernetes
											Service und diverser Ingress Controller. Verwendung von PaaS Diensten für
											die Architekturumsetzung. Provisionierung der
											Infrastruktur via Azure CLI sowie Terraform. Implementierung und
											Bereitstellung von Microservices (C#,Angular, diverse
											Datenbanken) sowie Erstellung von Monitoring und Deployment Konzepten sowie
											deren Skripte (Powershell Skripte, klassische
											Kubernetes Deployment Dateien und Helm Charts). CI/CD erfolgt über die
											Verwendung von TeamCity und Artifactory und
											Container Registries. Umsetzung von Sicherheitsmechanismen in Kubernetes wie
											Service Accounts oder Network Policies.

										</p>
										<br />
										<p>
											<b>
												Azure, CloudFoundry, C#, XUnit, Docker, Grafana, IoTHub,
												Device Provisioning Service, Azure Functions, Service
												Bus, REST, Angular, TeamCity, Artifactory, CodeBeamer, Git, MQTT,
												Kubernetes, NGINX, Helm

											</b>

										</p>
									</div>
								</div>
							</li>
							<li class="animate-box timeline-unverted">
								<div class="timeline-badge"><i class="icon-suitcase"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Fullstack Developer / Azure Cloud Developer</h3>
										<span class="company">Daimler Fleetboard GmbH - 10/2017 - 08/2018</span>
									</div>
									<div class="timeline-body">
										<p>
											Migration und teils Neuentwicklung vorhandener Bestandsdienste mit Hilfe von
											Domain Driven Design. Konzeption und
											Umsetzung neuer Architekturen und Microservices anhand von Kontextgrenzen zu
											anderen Funktionalitäten, um Systemstabilität
											und somit auch Kundenzufriedenheit zu gewährleisten. Die Implementierung der
											Funktionalitäten erfolgte in C#, die Microservices
											wurden durch Docker und Kubernetes realisiert. Zu der Implementierung
											gehörte unter anderem auch das Umsetzen von
											automatisierten CI/CD-Pipelines, sowie auch ein „Ops-Anteil“, dem Monitoring
											und Logging des Produktionsstandes. Die
											Darstellung der Funktionalitäten erfolgte durch eine bzw. mehrere
											Angular-Anwendungen (ebenfalls durch Docker/Kubernetes
											realisiert).
										</p>
										<br />
										<p>
											<b>
												Azure, C#, XUnit, Docker, Kubernetes, Grafana, Watchdog, Redis,
												DocumentDB, EventHub, SOAP, REST, Angular,
												Jasmine, VSTS, Git, MQTT, Scrum
											</b>
										</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge"><i class="icon-suitcase"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">JEE Software Entwickler / Systementwickler </h3>
										<span class="company">Daimler Fleetboard GmbH - 03/2016 - 09/2017</span>
									</div>
									<div class="timeline-body">
										<p>
											Pflege und Weiterentwicklung der Bestandsdienste Service & Uptime / Messages
											als auch Neuentwicklung des Dienstes
											Mercedes-Benz Uptime bei Fleetboard sowie Beratung bei der Entwicklung des
											Dienstes Omniplus Uptime bei der EvoBus
											GmbH. Implementierung von Funktionalitäten in Java EE, um unter anderem
											Daten auszulesen, zu verarbeiten und weiter zu
											veredeln, um diese kundenfreundlich in einem Frontend anzeigen zu können.
											Bereitstellen und Abholen von Daten über SOAP,
											REST und Message Queueing (IBM), verarbeiten und prozessieren in einer DB2
											Datenbank (IBM). Gewährleistung der
											gleichbleibenden Softwarequalität anhand von CI/CD (Jenkins mit eigener Test
											API), als auch das Analysieren von
											Produktionsbugs mit Hilfe von Logs (Putty, Kibana). Umgang mit Legacy Code
											und der zugehörigen Abhängigkeit mit anderen
											Scrum-Teams.

										</p>
										<br />
										<p>
											<b>
												Git, SVN, JavaEE, SOAP, REST, IBM MQ, Jenkins, JUnit, Selenium, RCP,
												Putty. Kibana, DB2, MQTT, Scrum

											</b>

										</p>
									</div>
								</div>
							</li>

							<br>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-md-offset-0">
				<div style="width: 100%;">
					<div
						style="text-align: center; font-size: 15px;
					text-transform: uppercase;
					letter-spacing: 5px;
					font-family: 'Space Mon', Arial, serif;
					font-weight: bold; margin: 0 auto; width: 275px; padding: 15px; display: table; border-radius: 10px; background-color: #e6e6e6;">
						<h3 style="font-weight: bold; padding-top: 15px;"><a href="../images/cv_marcel_schmitt.pdf"
								style="text-decoration: none" target="_blank">Lebenslauf</a></h3>
					</div>
				</div>

			</div>
		</div>
	</div>

	<br />
	<br />
	<br />


	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Was kann ich für Sie tun?</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-paintbrush"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Design</h3>
								<p>Übernehmen und Anpassung existierender sowie Erstellung komplett neuer Oberflächen.
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-bargraph"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Developent</h3>
								<p>Erstellung nativer Webseiten in einfachem HTML, anspruchsvollem Angular oder einer
									Mischung mit Hilfe von VueJS.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-book"></i>
							</span>
							<div class="feature-copy">
								<h3>Wordpress</h3>
								<p>Erstellung bzw. Anpassung von CMS Systemen (z. B. Wordpress). Aufsetzen des initialen Systems mit den richtigen Plugins sowie der kontinuerlichen Pflege.</p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4 text-center">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-cloud"></i>
							</span>
							<div class="feature-copy">
								<h3>Cloud Developent</h3>
								<p>Umgang mit Cloud Umgebungen wie Azure, AWS oder CloudFoundry. Evaluierung von den richtigen PaaS Diensten und Infrastrukturmanagement (IaC).</p>
							</div>
						</div>

					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-mobile"></i>
							</span>
							<div class="feature-copy">
								<h3>Mobile Development</h3>
								<p>Native als auch hybride (crossplattform) Entwicklung. Erfahrung mit Android sowie Xamarin oder auch Cordova.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
							<div class="feature-copy">
								<h3>Consulting</h3>
								<p>Unterstützung bei Cloud Architekturen, DevOps sowie SCRUM Themen. Worauf kommt es gerade bei SCRUM Prozessen an, wie interpretiert man für sich selbst Agilität?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Fähigkeiten</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">HTML5/CSS3</span><span class="value-right">75%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
								aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">WordPress</span><span class="value-right">80%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
								aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:80%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">PHP</span><span class="value-right">85%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
								aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Java</span><span class="value-right">75%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
								aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">CI/CD (Artifactory, Jenkins, Azure DevOps, GitOps)
							</span><span class="value-right">85%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-7 progress-bar-striped active" role="progressbar"
								aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">DevSecOps (Security, Best Practices, MindSet) </span><span
								class="value-right">100%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-6 progress-bar-striped active" role="progressbar"
								aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Scripting (Exporter, Shell, Infrastruktur</span><span
								class="value-right">90%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
								aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">C#</span><span class="value-right">75%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
								aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Angular / VueJS</span><span class="value-right">70%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70"
								aria-valuemin="0" aria-valuemax="100" style="width:70%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">JavaScript/jQuery</span><span class="value-right">70%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
								aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">IaaS (Terraform, Azure Cli, ARM Templates)</span><span
								class="value-right">85%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
								aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Cloud (Azure, AWS, CloudFoundry)</span><span
								class="value-right">85%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
								aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Containertechnologien (Docker, Kubernetes, Istio)</span><span
								class="value-right">90%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-8 progress-bar-striped active" role="progressbar"
								aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
							</div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Monitoring (Prometheus, Grafana, Alerting Tools)</span><span
								class="value-right">90%</span></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
								aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:90%">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Kontaktieren Sie mich!</h2>
					<p>
						Hier sehen Sie nur einen kleinen Überblick. Wollen Sie mehr über mich oder meine Arbeit
						erfahren? Haben Sie Lust auf eine Zusammenarbeit?
					</p>
					<p><a href="mailto:marcel.schmitt@schmittformatik.de" class="btn btn-default btn-lg">Kontakt</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p style="text-align: center;">
						&copy; 2017 Free HTML5 Template. All Rights Reserved. Designed by <a href="http://freehtml5.co"
							target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com"
							target="_blank">Unsplash</a>
						<br />
						<br />

						Diese Webseite verwendet keine Cookies.
						<br />
						2020
						<br />
						<br />
						<a href="http://www.manageschmittment.de" target="_blank">manageschmittment.de</a>
						<br />
						<a href="http://www.schmittformatik.de" target="_blank">schmittformatik.de</a>
						<br />
						<a href="http://www.schmittatze.de" target="_blank">schmittatze.de</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="../js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="../js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="../js/jquery.easypiechart.min.js"></script>
	<!-- Google Map -->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="../js/google_map.js"></script>

	<!-- Main -->
	<script src="../js/main.js"></script>

</body>

</html>